@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Poppins:wght@400;500;600;700&display=swap');
:root{
  --main-color: #5CDB95;
  --maintext-color: #EDF5E1;
  --hover-color: #379683;
  --body-color: #8EE4AF;
  --text-color: #05386B;

}


a:-webkit-any-link{
    color: rgb(15, 26, 87);
    text-decoration: none;
}
.Navbar__Link a.hovnav:hover{
    color: #FEE715;
}
.Navbar {
    background-color: var(--main-color) ;
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color:#05386B;
  }
  
  .Navbar__Link {
    padding-right: 30px;
    
  }
  
  .Navbar__Items {
    display: flex;
  }
  
  .Navbar__Items--right {
    margin-left: auto;
  }
  .navpos{
    margin-right: 75px;
  }
  .Navbar__Link-toggle {
    display: none;
  }

  .brand{
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    
  }
  .brand span{
    color: var(--maintext-color);
  }
  @media only screen and (max-width: 450px){
    .coverphoto{
      min-width: 400px;
      min-height: 600px;
      
    }
    .image{
      justify-content: center;
      margin-top: 20px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
      
  .Navbar__Items {
      display:none;
    }
      
  .Navbar__Items--right {
      margin-top: 10px;
      margin-left:15px;
    }
      
  .Navbar__ToggleShow {
      display: flex;
    }
      
  .Navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
     }
  .brand{
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
  }
   
  .about{
    margin-left: -70px;
  }
  
  .flex-wrapper {
    align-items: center;
    flex-direction: column;
  }

  .mywork{
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
  }
  .wor{
    padding: 10px;
  }

 
  }


/*photopart*/

.coverphoto{
  width: 190px;
  height: 300px;
}


svg{
  color: var(--text-color);
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px;
  background-color: var(--main-color) ;
}
.maintex{
  color: var(--maintext-color);
}

/*about*/

.about{
  padding: 15px 70px 30px 107px;
  background-color: var(--main-color);
}

.workimg{
  width: 186px;
  height: 230px;
}

.cv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn{
  margin-top: -170px;
}

/*skills*/

.flex-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.single-chart {
  width: 140px;
  justify-content: space-evenly;
 
  
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;

}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.skil{
  text-align: center;
  padding: 5px 0px 30px 0px;
}
.tskill{
  text-align: center;
  padding: 15px;
}

.skills{
  background-color: var(--body-color);
}

/*education*/

.card{
  width: 300px;
  
  
}

.edu{
  display: flex;
  justify-content: center;
  
 
  
}

@media only screen and (max-width: 1000px) {
  .edu{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  }
  .quali{
    padding: 20px;
  }
}



.pad{
  padding: 10px;
  
}

.quali{
  padding-top: 20px;
  overflow-x: hidden;
  
}


/*contactme*/

.gm{
  display: flex;
}

.wrap{
  overflow-x: hidden;
}

.con{
  padding: 20px;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*work*/

.wimg{
  width: 250px;
  height: 250px;
  transition: transform 400ms;
  object-fit: contain;
}

.wor{
  transition: transform 350ms;
  
  width: 250px;
  height: 250px;
}

.wor :hover{
  transform: scale(1.08) ;
  
}

.wor:hover .wimg{
  transform: scale(1.08) ;
}

.mywork{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  
}

.bi-list-nested{
  width: 24px;
  height: 24px;
  
}

body{
  background-color: var(--main-color);
}

.footer{
  background-color: var(--text-color);
  color: var(--maintext-color);
}

.footer svg{
  color: aliceblue;
  height: 30px;
  width: 30px;
}
.footer p{
  font-size: large;
}

h3{
  color: var(--maintext-color);
}

.card-body{
  background-color: var(--hover-color);
  border-radius: 0px;
}


